# Web Scrapping 4

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import time

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

## Q1 Wikipedia: Top viewed YouTube videos

<b>1. Scrape the details of most viewed videos on YouTube from Wikipedia:
    
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
    
You need to find following details:
    
A) Rank
    
B) Name
    
C) Artist
    
D) Upload date
    
E) Views
</b>

In [3]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [9]:
#creating empty lists

rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

#rank
video_rank=driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[1]')
for i in video_rank:
    rank.append(i.text)

#name
video_name=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]')  
for i in video_name:   
    name.append(i.text)
    
#artist
video_artist=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]')  
for i in video_artist:   
    artist.append(i.text)
    
#upload date
video_date=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]')  
for i in video_date:   
    upload_date.append(i.text)
    
#views
video_views=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]')  
for i in video_views:   
    views.append(i.text)

In [10]:
#printing the length of all elements
print(len(rank))
print(len(name))
print(len(artist))
print(len(upload_date))
print(len(views))

30
30
30
30
30

In [11]:
YouTube=pd.DataFrame({})   #creating a dataframe
YouTube['Rank']=rank
YouTube['Name of video']=name
YouTube['Artist/Uploader']=artist
YouTube['Upload Date']=upload_date
YouTube["Views(in billion)"]=views
YouTube

,Rank,Name of video,Artist/Uploader,Upload Date,Views(in billion)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.78
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.40
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.46
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.35
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.14
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.20
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.15
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.14
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.09
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.92
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.39
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.37
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.32
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.27
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.09
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.08
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.08
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.05
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.05
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.04
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.01
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.93
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.87
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.85
28,29.,"""Hello""[54]",Adele,"October 22, 2015",2.84
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.83

## Q2 BCCI Cricket: International Fixtures

<b>2. Scrape the details team India’s international fixtures from bcci.tv.
    
Url = https://www.bcci.tv/.
    
You need to find following details:
    
A) Match title (I.e. 1st ODI)
    
B) Series
    
C) Place
    
D) Date
    
E) Time
    
Note: - From bcci.tv home page you have reach to the international fixture page through code
</b>

In [12]:
url1='https://www.bcci.tv/'
driver.get(url1)

In [15]:
international=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]').click() #clicking on international
fixtures=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').click() #clicking on fixtures

In [21]:
#creating empty lists
match_title=[]
series=[]
place=[]
date=[]
time=[]

#scrapping required data

#match title
match=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in match:
    match_title.append(i.text)

#series
match_series=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__format"]')
for i in match_series:
    series.append(i.text)

#place
match_place=driver.find_elements_by_xpath('/html/body/div[4]/div/div/div/section/div/div/a/div[2]/div[2]/p/span')
for i in match_place:
    place.append(i.text)
    
#date
match_date=driver.find_elements_by_xpath('//div[@class="fixture__full-date"]')
for i in match_date:
    date.append(i.text.replace('\n',' '))

#time
match_time=driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[1]/div/div/span[2]')
for i in match_time:
    time.append(i.text)

#printing length of all values
print(len(match_title),len(series),len(place),len(date),len(time))

12 12 12 12 12

In [22]:
#creating a dataframe
international_fixtures=pd.DataFrame({})
international_fixtures['Match Title']=match_title
international_fixtures['Series']=series
international_fixtures['Place']=place
international_fixtures['Date']=date
international_fixtures['Time']=time
international_fixtures

,Match Title,Series,Place,Date,Time
0,Final,TEST,"The Ageas Bowl, Southampton",18 JUNE 15:00 IST,15:00 IST
1,1st ODI,ODI,"R Premadasa Stadium, Colombo",13 JULY 14:30 IST,14:30 IST
2,2nd ODI,ODI,"R Premadasa Stadium, Colombo",16 JULY 14:30 IST,14:30 IST
3,3rd ODI,ODI,"R Premadasa Stadium, Colombo",18 JULY 14:30 IST,14:30 IST
4,1st T20I,T20I,"R Premadasa Stadium, Colombo",21 JULY 19:00 IST,19:00 IST
5,2nd T20I,T20I,"R Premadasa Stadium, Colombo",23 JULY 19:00 IST,19:00 IST
6,3rd T20I,T20I,"R Premadasa Stadium, Colombo",25 JULY 19:00 IST,19:00 IST
7,1st Test,TEST,"Trent Bridge, Nottingham",04 AUGUST 15:30 IST,15:30 IST
8,2nd Test,TEST,"Lord's, London",12 AUGUST 15:30 IST,15:30 IST
9,3rd Test,TEST,"Headingley, Leeds",25 AUGUST 15:30 IST,15:30 IST
10,4th Test,TEST,"The Oval, London",02 SEPTEMBER 15:30 IST,15:30 IST
11,5th Test,TEST,"Old Trafford, Manchester",10 SEPTEMBER 15:30 IST,15:30 IST

## Q3 Guru99 selenium exceptions

<b> 3. Scrape the details of selenium exception from guru99.com.
    
Url = https://www.guru99.com/
    
You need to find following details:
    
A) Name
    
B) Description </b>

In [26]:
url2='https://www.guru99.com/'
driver.get(url2)

sel=driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[2]/span[8]/a').click()  #clicking on selenium
exp_hand=driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a').click() #cliking on excpetion handling tutorial

In [33]:
#creating empty lists 
name1=[]
description=[]


#exception name
exp_name=driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]')
for i in exp_name[1:]:
    name1.append(i.text)
    
#exception description
exp_desc=driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]')
for i in exp_desc[1:]:
    description.append(i.text)

#printing length of the values
print(len(name1))
print(len(description))

41
41

In [34]:
sel_exp=pd.DataFrame({})
sel_exp['Exception name']=name1
sel_exp['Exception description']=description
sel_exp

,Exception name,Exception description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## Q4 India's state wise GDP from statisticstime.com

<b>4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:
    
A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.</b>

In [3]:
import time

In [38]:
url3='http://statisticstimes.com/'
driver.get(url3)


time.sleep(3)

drop_down=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button').click()   #clicking on economy
econ_ind=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()    #clicking on india

time.sleep(2)

states=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()     #clicking on 'GDP of Indian States'

In [41]:
#creating empty lists 
rank1=[]
state=[]
GSDP_19_20=[]
GSDP_18_19=[]
share=[]
GDP=[]

#rank 
state_rank=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]')
for i in state_rank:
    rank1.append(i.text)
#state
state_name=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]')
for i in state_name:
    state.append(i.text)

#GSDP 19-20
GSDP=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]')
for i in GSDP:
    GSDP_19_20.append(i.text)

#GSDP 18-19
GSDP1=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]')
for i in GSDP1:
    GSDP_18_19.append(i.text)

#share 18-19
state_share=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')
for i in state_share:
    share.append(i.text)

#GDP Billion($)
GDP_bil=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')
for i in GDP_bil:
    GDP.append(i.text)
    
#printing length of all values
print(len(rank1),len(GSDP_19_20),len(GSDP_18_19),len(share),len(GDP))

33 33 33 33 33

In [42]:
#creating a dataframe
State_GDP_India = pd.DataFrame({'Rank':rank1,'State':state,'GSDP at current price(19-20)':GSDP_19_20,'GSDP at current price (18-19)':GSDP_18_19,"Share (18-19)":share,
                        'GDP_bil':GDP})
State_GDP_India

,Rank,State,GSDP at current price(19-20),GSDP at current price (18-19),Share (18-19),GDP_bil
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

## Q5 GitHub trending repositories

<b>5. Scrape the details of trending repositories on Github.com.
    
Url = https://github.com/
    
You have to find the following details:
    
A) Repository title
    
B) Repository description
    
C) Contributors count
    
D) Language used
    
Note: - From the home page you have to click on the trending option from Explore menu through code</b>

In [46]:
url4='https://github.com/'
driver.get(url4)

explore=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()  #clicking on explore
trend=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').click()  #clicking on trending

In [47]:
from selenium.common.exceptions import NoSuchElementException    #importing NoSuchElementException

In [48]:
#scrapping urls
urls=[]
for i in driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a'):
    urls.append(i.get_attribute("href"))

In [51]:
#creating empty lists
rep_title=[]
rep_desc=[]
contributors=[]
language=[]

time.sleep(2)
#scrapping rest of required data
for i in urls:
    driver.get(i)
    
    #repository title
    try:
        repos_title=driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center break-word f3 text-normal"]')
        rep_title.append(repos_title.text.replace('\n',' '))
    except NoSuchElementException:
        rep_title.append('-')
        
    #repository description
    try:
        repos_desc=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[1]/div/p')
        rep_desc.append(repos_desc.text)
    except NoSuchElementException:
        rep_desc.append('Not Found')
        
    #contributors count
    try:
        cont_count=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        contributors.append(cont_count.text)
    except NoSuchElementException:
        contributors.append('Not found')
    #language used
    try:
        lang=driver.find_element_by_xpath("//div[@class='BorderGrid-row']/div/ul[@class='list-style-none']")
        language.append(lang.text.replace('\n',' '))
    except NoSuchElementException:
        language.append('Not Found')
        
#printing length of values
print(len(rep_title),len(rep_desc),len(contributors),len(language))

25 25 25 25

In [52]:
GitHub=pd.DataFrame({'Respository Title':rep_title, 'Repository Description':rep_desc, 'Contributors count':contributors,'Lanugages':language})
GitHub  #creating a dataframe

,Respository Title,Repository Description,Contributors count,Lanugages
0,jina-ai / jina,An easier way to build neural search on the cloud,Not found,Python 94.3% HTML 2.4% CSS 1.0% Shell 0.9% Doc...
1,willmcgugan / rich,Rich is a Python library for rich text and bea...,90,willmcgugan Will McGugan
2,monyhar / monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,Not found,C 100.0%
3,programthink / books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,Not found,Not Found
4,jwasham / coding-interview-university,A complete computer science study plan to beco...,198,Not Found
5,streamich / react-use,React Hooks — 👍,11.9k,NullVoxPopuli Cretezy Charles C OctoD Paolo Ro...
6,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",357,Haskell 35.3% JavaScript 20.6% TypeScript 19.5...
7,walidshaari / Certified-Kubernetes-Security-Sp...,Curated resources help you prepare for the CNC...,Not found,AGS Script 99.8% Jinja 0.2%
8,siduck76 / NvChad,beautiful neovim setup configured in lua,Not found,Lua 96.3% Shell 3.7%
9,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",Not found,
10,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,159,Not Found
11,IlanKalendarov / SharpHook,Not Found,Not found,C# 100.0%
12,SuMaiKaDe / bot,Not Found,2,Python 95.3% Shell 4.2% JavaScript 0.5%
13,bitcoin / bitcoin,Bitcoin Core integration/staging tree,800,C++ 66.6% Python 18.9% C 9.2% M4 1.6% Shell 1....
14,nushell / nushell,A new type of shell,Not found,nu latest
15,neovim / neovim,Vim-fork focused on extensibility and usability,Not found,neovim Neovim
16,smokeme / payloadGenerator,Generate obfuscated meterpreter shells,Not found,Python 59.8% C# 40.2%
17,RPwnage / pwn-my,iOS 14.5 WebKit/Safari based Jailbreak,Not found,patreon.com/rpwnage
18,BurntSushi / ripgrep,ripgrep recursively searches directories for a...,Not found,Rust 94.2% Python 3.2% Shell 2.5% Other 0.1%
19,elastic / kibana,Your window into the Elastic Stack,676,TypeScript 89.3% JavaScript 9.6% SCSS 0.4% She...
20,CyberPunkMetalHead / backtesting-for-cryptocur...,This is a simple backtesting framework to help...,Not found,Python 100.0%
21,discordjs / discord.js,A powerful JavaScript library for interacting ...,218k,amishshah Amish Shah
22,atom / atom,The hackable text editor,479,JavaScript 88.2% Less 8.7% CoffeeScript 3.0% S...
23,thanos-io / thanos,Highly available Prometheus setup with long te...,355,Go 80.4% TypeScript 10.6% Jsonnet 3.5% JavaScr...
24,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,18,JavaScript 97.8% HTML 2.2%

## Q6 Billboard: Hot 100

6. Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/
    
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [53]:
url5='https://www.billboard.com/'
driver.get(url5)

time.sleep(2)
#clicking on Hot 100
HOT_100=driver.find_element_by_xpath('//li[@class="header__subnav__item"][3]/a').click()

In [57]:
#creating empty lists 
song=[]
artist1=[]
LastWeek_rank=[]
peak_rank=[]
wks_onboard=[]

#scrapping required data 
time.sleep(2)

#song name
song_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song_name:
    song.append(i.text)
    
#artist name 
artist_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist_name:
    artist1.append(i.text)

#last week rank 
lweek_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lweek_rank:
    LastWeek_rank.append(i.text)

#Peak rank
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    peak_rank.append(i.text)
    
#weeks on board
weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    wks_onboard.append(i.text)
    
#printing length of values 
print(len(song),len(artist1),len(LastWeek_rank),len(peak_rank),len(wks_onboard))

100 100 100 100 100

In [58]:
#creating a dataframe
billboard=pd.DataFrame({})
billboard['Song name']=song
billboard['Artist name']=artist1
billboard['Last Week Rank']=LastWeek_rank
billboard['Peak Rank']=peak_rank
billboard['Weeks on board']=wks_onboard
billboard

,Song name,Artist name,Last Week Rank,Peak Rank,Weeks on board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

## Q7 Naukri: Data Science Recruiters

7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
    
You have to find the following details:
    
A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [26]:
from selenium.common.exceptions import NoSuchElementException

In [41]:
url6='https://www.naukri.com/'
driver.get(url6)

recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")

driver.get(recruiters.get_attribute('href'))

time.sleep(1)



#accesing search bar

search=driver.find_element_by_xpath("//input[@class='sugInp']")

search.send_keys("Data Science")

time.sleep(1)



#clicking on search button

button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")

button.click()

time.sleep(1)

In [42]:
#creating empty lists 
name2=[]
desg=[]
company=[]
skills=[]
loc=[]


time.sleep(2)


#name 
rec_name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in rec_name:
    name2.append(i.text)
    
#designation 
rec_desg=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in rec_desg:
    desg.append(i.text)
    
#company
rec_comp=driver.find_elements_by_xpath("//a[@class='ellipsis'][2]")
for i in rec_comp:
    company.append(i.get_attribute('title'))
    
#skills they hire for 
rec_skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in rec_skills:
    skills.append(i.text)
    
#getting recruiters url
urls1=[]
rec_urls=driver.find_elements_by_xpath("//a[@class='ellipsis'][1]")
for i in rec_urls:
    urls1.append(i.get_attribute("href"))
    
for i in urls1:
    driver.get(i)
    
    #getting location 
    try:
        rec_loc=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a")
        loc.append(rec_loc.text)
    except NoSuchElementException:
        loc.append('-')
#printing length of values
print(len(name2),len(desg),len(company),len(loc),len(skills))

50 50 50 50 50

In [43]:
#creating a dataframe
Recruiters=pd.DataFrame({})
Recruiters['Name']=name2
Recruiters['Designation']=desg
Recruiters['Company']=company
Recruiters['Skills']=skills
Recruiters['Location']=loc
Recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting Co...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

## Q8 Guardian: Highest selling novels

8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [44]:
url7='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url7)

In [48]:
#creating empty lists 
book=[]
author=[]
volumes=[]
publisher=[]
genre=[]

time.sleep(2)
#scrapping required data 

#book name
book_name=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in book_name:
    book.append(i.text)
    
#author name
author_name=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in author_name:
    author.append(i.text)
    
#volumes sold
volumes_sold=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in volumes_sold:
    volumes.append(i.text)
    
#publisher
publish=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in publish:
    publisher.append(i.text)
    
#genre
book_genre=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in book_genre:
    genre.append(i.text)
    
#printing lengths of values
print(len(book),len(author),len(volumes),len(publisher),len(genre))

100 100 100 100 100

In [51]:
#creating a dataframe
Books=pd.DataFrame({})
Books['Book name']=book
Books['Author name']=author
Books['Volumes sold']=volumes
Books['Publisher']=publisher
Books['Genre']=genre
Books

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Q9 IMDB: Top TV Shows

9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [53]:
url8='https://www.imdb.com/list/ls095964455/'
driver.get(url8)

In [61]:
#creating empty lists 
name3=[]
year=[]
genre1=[]
run_time=[]
ratings=[]
votes=[]

#scrapping required data 
time.sleep(3)

#show name
show_name=driver.find_elements_by_xpath('/html/body/div/div/div/div/div/div/div/div/div/div/h3/a')
for i in movie_name:
    name3.append(i.text)
    
#year span 
show_year=driver.find_elements_by_xpath("/html/body/div/div/div/div/div/div/div/div/div/div/h3/span[2]")
for i in movie_year:
    year.append(i.text)
    
#show genre 
show_genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in movie_genre:
    genre1.append(i.text)

#run time
show_time=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in movie_time:
    run_time.append(i.text)
    
#ratings
show_rate=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in movie_rate:
    ratings.append(i.text)
    
#votes
show_votes=driver.find_elements_by_name('nv')
for i in movie_votes:
    votes.append(i.text)

#printing length of values
print(len(genre1),len(name3),len(year),len(run_time),len(votes))

100 100 100 100 100

In [62]:
#creating a dataframe
TV_shows=pd.DataFrame({})
TV_shows['Show name']=name3
TV_shows['Year Span']=year
TV_shows['Run Time']=run_time
TV_shows['Ratings']=ratings
TV_shows['Votes']=votes
TV_shows

                         Show name    Year Span Run Time Ratings      Votes
0                  Game of Thrones  (2011–2019)   57 min     9.3  1,823,954
1                  Stranger Things     (2016– )   51 min     8.7    864,293
2                 The Walking Dead  (2010–2022)   44 min     8.2    874,720
3                   13 Reasons Why  (2017–2020)   60 min     7.6    262,760
4                          The 100  (2014–2020)   43 min     7.6    224,127
..                             ...          ...      ...     ...        ...
95                           Reign  (2013–2017)   42 min     7.5     44,587
96  A Series of Unfortunate Events  (2017–2019)   50 min     7.8     55,088
97                  Criminal Minds  (2005–2020)   42 min       8    167,842
98           Scream: The TV Series  (2015–2019)   45 min     7.1     34,899
99      The Haunting of Hill House       (2018)  572 min     8.6    191,532

[100 rows x 5 columns]

## Q10: UCI machine learning repositories.

10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [70]:
url9=' https://archive.ics.uci.edu/'
driver.get(url9)

time.sleep(2)
#clicking on 'View all datasets'
data=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")

driver.get(data.get_attribute('href'))

In [105]:
#creating empty lists 
dataset=[]
data_type=[]
task=[]
attribute=[]
instances=[]
year1=[]

#scrapping required data 
time.sleep(3)

#dataset name
data_name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td[2]/p/b/a")
for i in data_name: 
    dataset.append(i.text)
    
#datatype
datatype=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in datatype[1:]:
    data_type.append(i.text)
    
#task
tasks=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in tasks[1: ]:
    task.append(i.text)

#attribute type
att_type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in att_type [1:]:
    attribute.append(i.text)

#instances
inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in inst[1:]:
    instances.append(i.text)
    
#year
data_year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in data_year[1: ]:
    year1.append(i.text)

In [107]:
#printing length of values 
print(len(dataset),len(data_type),len(tasks),len(attribute),len(instances),len(year1))

588 588 589 588 588 588

In [108]:
Repositories=pd.DataFrame({}) #creating a dataframe
Repositories['Dataset Name']=dataset
Repositories['Data Type']=data_type
Repositories['Tasks']=task
Repositories['Attribute type']=attribute
Repositories['Instances']=instances 
Repositories['Year']=year1
Repositories

,Dataset Name,Data Type,Tasks,Attribute type,Instances,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,1998
...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,2020
584,Gait Classification,Multivariate,Classification,Real,48,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,2021